.message{
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff;
    position: relative;
    width: fit-content;
}
.message__info{
    margin-left: 20px;
}
.message__timstamp{
    color: grey;
    margin-left: 20px;
    font-size: x-small;
}